

<div class="collections page-width">
  <h2 class="al-text {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ section.settings.top-heading }}</h2>
  <p class="collectonng-pggf {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ section.settings.para }}</p>

  <div id="collections-content-{{ section.id }}" class="block-ddggfj">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'collection_tab' %}
          {% assign collection = block.settings.collection %}
          <div class="coll-cont {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <a href="{{ collection.url }}">
              <div class="collection">
                <div class="collection-titled">
                  <div class="collection-bbage">
                    <p class="collection-badge-text">
                        {{ block.settings.badge }}
                    </p>
                  </div>
                  <h3 class="collection-title">
                    {% if block.settings.custom_collection_title != blank %}
                      {{ block.settings.custom_collection_title }}
                    {% else %}
                      {{ collection.title }}
                    {% endif %}
                  </h3>
                </div>

                <div class="collection-ddcon">
                  {% assign custom_image = block.settings.custom_image %}
                  {% assign first_product = collection.products | first %}
                  
                  {% if custom_image != blank %}
                    <img src="{{ custom_image | img_url: 'master' }}">
                  {% elsif first_product and first_product.featured_image %}
                    <img src="{{ first_product.featured_image | img_url: 'master' }}">
                  {% else %}
                    <img src="{{ collection.featured_image | img_url: 'master' }}">
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
    <div class="collection-button {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
    </div>
</div>


{% schema %}
{
  "name": "All Links",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "top-heading",
      "label": "Enter text"
    },
    {
    "type": "inline_richtext",
    "id":"para",
    "label": "Add Para"
    },
    {
    "type": "url",
    "id":"btn_link",
    "label":"Add Button url"
    },
    {
    "type": "text",
    "id":"btn_text",
    "label":"btn_text"
     }
  ],
  "blocks": [
    {
      "type": "Link_tab",
      "name": "Links",
      "settings": [
       
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image"
        },
         {
          "type": "text",
          "id": "badge",
          "label": "Custom Collection Badge"
        },       
        {
          "type": "text",
          "id": "custom_collection_title",
          "label": "Custom Collection Title"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "All Links",
      "blocks": [
        {
          "type": "Link_tab"
        },
        {
          "type": "Link_tab"
        },
        {
          "type": "Link_tab"
        }
      ]
    }
  ]
}
{% endschema %}


<style>
.collections.page-width {
    padding-top: 120px;
    padding-bottom: 100px;
}

.al-text {
    color: #014744;
    text-align: center;
    font-family: "PP Editorial New";
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 114.815% */
    letter-spacing: normal;
    max-width: 481px;
    margin: 0 auto;
}

.collectonng-pggf {
    color: #2D2D2E;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 12px 0 0 0;
}

.block-ddggfj {
    margin-top: 56px;
    display: flex;
    column-gap: 20px;
    row-gap: 32px;
    flex-wrap: wrap;
}

.coll-cont {
    width: calc(33.33% - 13.3px);
    border-radius: 20px;
    background: #F7F6F1;
}

.coll-cont a {
    display: block;
    height: 100%;
    text-decoration: none;
}

.collections .collection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 32px 24px 24px;
    height: 100%;
}

.collection-badge-text {
    margin: 0;
    color: #014744;
  font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display: inline-block;
    border-radius: 43px;
    border: 1px solid #014744;
    background: rgba(255, 255, 255, 0.60);
    padding: 8px 12px;
    letter-spacing: 0;
}

.collection-title {
    color: #100C08;
     font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin: 0;
    letter-spacing: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    max-width: 184px;
}

.collection-ddcon img {
    display: block;
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.collection-titled {
    display: grid;
    height: 100%;
}
.collection-ddcon {
    margin-top: 12px;
    margin-bottom: 12px;
}
.collection-button a {
    border-radius: 40px;
    background: #014744;
    display: inline-block;
    padding: 16px 32px;
    text-decoration: none;
    color: #FFF;
  font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 128%;
    letter-spacing: 0;
}
.collection-button {
    margin-top: 56px;
}
.collection-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.trial_box-con {
    max-width: 1440px;
    margin: 0 auto;
}

.trial-box-wrapper {
    display: flex;
}

.trial-box-left {
    background: #F7F6F1;
    width: 43.2%;
    padding: 102px 27px 102px 80px;
}

.trial-box-right {
    width: 56.8%;
}

.trial-heading {
    color: #014744;
    font-family: "PP Editorial New";
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 114.815% */
    margin: 0;
}

.trial-para {
    color: #2D2D2E;
  font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin: 16px  0 0 0;
    opacity: 0.8;
    letter-spacing: 0;
        max-width:484px;
}

.trial_heading {
    color:#100C08;
     font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
    letter-spacing: normal;
}

.tri-item-left {
    margin-top: 80px;
}

.trial_para {
    color: #7F7E79;
  font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 6px 0 0 0;
    letter-spacing: 0;
}

.trial-item-con {
    margin-top: 24px;
}

.trial-box-right {
    position: relative;
}

.trial-bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.trial-right-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 32px;
    border-radius: 30px;
    background: #F7F6F1;
    max-width: 426px;
}

.trial-right-heading {
    color: #014744;
    font-family: "PP Editorial New";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 117.647% */
    margin: 0;
}

.trial-right-para {
    color: #2D2D2E;
  font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    margin: 8px 0 0 0;
}

.price-trial {
    color: #014744;
    font-family: "PP Editorial New";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: normal;
    margin: 0;
}

.price-con-trial {
    margin-top: 40px;
    margin-bottom: 40px;
}

.price_text {
    color: #7F7E79;
  font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    margin: 8px 0 0 0;
}

.trial-opetion {
    border-top: 1px solid #014744;
    border-bottom: 1px solid #014744;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.trial-opetion p {
    color:#100C08;
  font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 164.286% */
    letter-spacing: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.trial-option-one {
    display: flex;
    align-items: center;
    gap: 6px;
}

.plan-btn a {
    border-radius: 40px;
    background: #014744;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 16px 32px;
    color: #FFF;
  font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
}
</style>