<div class="custom-banner-section">
  <div class="custom-banner-wrapper">
    <div class="custom-banner-text">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.subtext }}</p>
      <div class="cus-banner-btn">
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="banner-btn">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
      </div>
    </div>
    <div class="custom-ban-img-section">
    <div class="custom-banner-image">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.heading }}">
      {% endif %}
    </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image-Text-Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Image-Text-Banner"
    }
  ]
}
{% endschema %}
