<!-- Our Mission Section -->
<section class="our-mission-section">
  <div class="container wrap-mission">
    <div class="wrap-mission-data">
    <div class="mission-text">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.description }}</p>
      <div class="mission-btn">
      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_text }}
        </a>
      {% endif %}
      </div>
    </div>
    </div>
<div class="wrap-mission-img">
    <div class="mission-image">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.heading }}">
      {% endif %}
    </div>
</div>
  </div>
</section>

{% schema %}
{
  "name": "Our Mission",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
    "presets": [
    {
      "name": "Our Mission"
    }
  ]
}
{% endschema %}
