<div class="two-product-section">
  <div class="product-page-width">
    <div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>

    <div class="recipes-under-text-img">
   
    <div class="recipe-left-div">
    <div class="two-col-left">
      {% if product.metafields.custom.recipe_left_image != blank %}
        <img 
          src="{{ product.metafields.custom.recipe_left_image | img_url: 'master' }}" 
          alt="{{ product.title }}" 
          loading="lazy">
      {% endif %}
    </div>
    </div>

   <div class="recipe-right-div">
        <div class="product-all-under-data">
          {% for images in product.metafields.custom.product_recipe_images.value %}
            <div class="recipe-under-data">
              {% assign index = forloop.index %}
              <div class="recipe-logo">
                <img src="{{ images | img_url: 'master' }}">
              </div>
              <div class="recipe-textss">
                {% for heading in product.metafields.custom.product_recipe_heading.value %}
                  {% if forloop.index == index %}
                    <div class="product-text">
                      {{ heading }}
                    </div>
                  {% endif %}
                {% endfor %}
                {% for subtext in product.metafields.custom.product_recipe_text.value %}
                  {% if forloop.index == index %}
                    <div class="recipe-para">{{ subtext }}</div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>
</div>

{% schema %}
{
  "name": "Product Recipes",
  "settings": [
       {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Product Recipes"
    }
  ]
}
{% endschema %}
