<section class="product-features-section" id="features-info">
  <div class="line-title">
    <hr>
  {% if product.metafields.custom.features_section_heading != blank %}
    <h2 class="section-heading">{{ product.metafields.custom.features_section_heading }}</h2>
  {% endif %}
  <hr>
</div>

  <div class="features-wrapper">
    {% assign titles = product.metafields.custom.features_titles.value %}
    {% assign descriptions = product.metafields.custom.features_descriptions.value %}

    {%- assign titles_size = titles.size -%}
    {%- assign desc_size = descriptions.size -%}
    {% if titles_size > desc_size %}
      {% assign loop_size = titles_size %}
    {% else %}
      {% assign loop_size = desc_size %}
    {% endif %}

    {%- assign last_index = loop_size | minus: 1 -%}

    <!-- Left column -->
    <div class="bdjukashgdkj">
    <ul class="product-features left-col">
      {% for i in (0..last_index) %}
        {% assign mod = i | modulo: 2 %}
        {% if mod == 0 and titles[i] %}
          <li>
            <strong>{{ titles[i] }}</strong>
            {% if descriptions[i] %}
              <p>{{ descriptions[i] }}</p>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

    <!-- Center image -->
    {% if product.metafields.custom.features_center_image != blank %}
      <div class="feature-image">
        <img 
          src="{{ product.metafields.custom.features_center_image | img_url:'master' }}" 
          alt="{{ product.title }} features image">
      </div>
    {% endif %}

    <!-- Right column -->
        <div class="advhasgvh">
    <ul class="product-features right-col">
      {% for i in (0..last_index) %}
        {% assign mod = i | modulo: 2 %}
        {% if mod == 1 and titles[i] %}
          <li>
            <strong>{{ titles[i] }}</strong>
            {% if descriptions[i] %}
              <p>{{ descriptions[i] }}</p>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    </div>
  </div>
</section>


<style>

  .product-features-section .line-title hr {
    margin: 0;
    background-color: #F76E2A;
    width: 100px;
}

 .product-features-section .line-title {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.product-features-section .line-title .section-heading {
    font-family: Oswald;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #343434;
    margin: 0;
}

.product-features-section .features-wrapper > div {
    width: 33.3%;
    max-width: 33.3%;
}

.product-features-section .feature-image img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

  .product-features-section {
        background-color: #F5F5F5;
  padding: 100px 0;
}

.product-features-section .features-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1645px;
  margin: 50px auto 0;
  padding: 0 30px;
}

.product-features-section .product-features {
  list-style: none;
  padding: 0;
  margin: 0;
     text-align: left;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.product-features-section .product-features li strong {
       font-family: Oswald;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #343434;
}

.product-features-section .product-features li {
    text-align: center;
}

.product-features-section .product-features li p {
    margin: 0;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: Oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #343434;
}

.feature-image {
    position: relative;
    padding-bottom: 500px;
}

</style>

{% schema %}
{
  "name": "Product Features",
  "tag": "section",
  "class": "features-metafields",

  "presets": [
    {
      "name": "Product Features",
      "category": "Product"
    }
  ]
}
{% endschema %}
