<section class="product-features-section" id="features-info">
  {% if product.metafields.custom.features_section_heading != blank %}
    <h2 class="section-heading">{{ product.metafields.custom.features_section_heading }}</h2>
  {% endif %}

  <div class="features-wrapper">
    {% assign titles = product.metafields.custom.features_titles.value %}
    {% assign descriptions = product.metafields.custom.features_descriptions.value %}

    {%- assign titles_size = titles.size -%}
    {%- assign desc_size = descriptions.size -%}
    {% if titles_size > desc_size %}
      {% assign loop_size = titles_size %}
    {% else %}
      {% assign loop_size = desc_size %}
    {% endif %}

    {%- assign last_index = loop_size | minus: 1 -%}

    <!-- Left column -->
    <ul class="product-features left-col">
      {% for i in (0..last_index) %}
        {% assign mod = i | modulo: 2 %}
        {% if mod == 0 and titles[i] %}
          <li>
            <strong>{{ titles[i] }}</strong>
            {% if descriptions[i] %}
              <p>{{ descriptions[i] }}</p>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Center image -->
    {% if product.metafields.custom.features_center_image != blank %}
      <div class="feature-image">
        <img 
          src="{{ product.metafields.custom.features_center_image | image_url: width: 600 }}" 
          alt="{{ product.title }} features image">
      </div>
    {% endif %}

    <!-- Right column -->
    <ul class="product-features right-col">
      {% for i in (0..last_index) %}
        {% assign mod = i | modulo: 2 %}
        {% if mod == 1 and titles[i] %}
          <li>
            <strong>{{ titles[i] }}</strong>
            {% if descriptions[i] %}
              <p>{{ descriptions[i] }}</p>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>


<style>

  .product-features-section {
  padding: 100px 0;
}

.product-features-section .features-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1645px;
  margin: 0 auto;
  padding: 0 30px;
}

.product-features-section .product-features {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

</style>

{% schema %}
{
  "name": "Product Features",
  "tag": "section",
  "class": "features-metafields",

  "presets": [
    {
      "name": "Product Features",
      "category": "Product"
    }
  ]
}
{% endschema %}
