<style>
  .accordion-content {
    overflow: hidden;
    transition: max-height 0.4s ease;
  }
</style>

<div class="accordion-wrapper {{ section.settings.custom-class }}">
  <div class="faq-left-side" data-aos="fade-right">
    <h2>{{ section.settings.heading }}</h2>
    <div class="faq-main-description">
      {{ section.settings.description }}
    </div>
  </div>

<div class="faq-right-side" data-aos="fade-left">
  {% assign questions = product.metafields.custom.product_faq_questions.value %}
  {% assign answers = product.metafields.custom.product_faq_answers.value %}

  {% if questions != blank and answers != blank %}
    {% for q in questions %}
      {% assign a = answers[forloop.index0] %}
      <div class="accordion-outer {% if forloop.first %}is-open{% endif %}">
        <div class="accordion-heading">
          {{ q }}
          <div class="aworrs-faq">
            <svg class="icon icon-caret" viewBox="0 0 10 6">
              <path fill="currentColor" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708"></path>
            </svg>
          </div>
        </div>
        <div class="accordion-content" style="{% if forloop.first %}max-height:500px;{% else %}max-height:0;{% endif %}">
          <p>{{ a }}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const accordions = document.querySelectorAll(".accordion-wrapper");

    accordions.forEach(wrapper => {
      const items = wrapper.querySelectorAll(".accordion-outer");

      items.forEach(item => {
        const heading = item.querySelector(".accordion-heading");
        const content = item.querySelector(".accordion-content");

        heading.addEventListener("click", () => {
          const isOpen = item.classList.contains("is-open");

          // Close all
          items.forEach(i => {
            i.classList.remove("is-open");
            i.querySelector(".accordion-content").style.maxHeight = "0";
          });

          // Toggle this one
          if (!isOpen) {
            item.classList.add("is-open");
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      });
    });
  });
</script>

{% schema %}
{
  "name": "Product FAQ",
  "settings": [
    {
    "type": "text",
    "id": "heading",
    "label": "Heading"
},
{
    "type": "richtext",
    "id": "description",
    "label": "Description"
}
  ],
  "presets": [
    {
      "name": "Product FAQ"
    }
  ]
}
{% endschema %}