{% comment %}
  Dynamic Recipe/Blog Card Slider Section
  Each block = image + title + text + button
{% endcomment %}

<section class="custom-recipe-slider">
    <div class="recipe-page-width">
     <div class="line-title" data-aos="fade-down">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>
  <div class="recipe-slider" data-aos="fade-up">
    {% for block in section.blocks %}
      <div class="recipe-card" {{ block.shopify_attributes }}>
        {% if block.settings.image != blank %}
          <div class="recipe-image">
            <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.title | escape }}">
          </div>
        {% endif %}
        <div class="recipe-content">
          {% if block.settings.title != blank %}
            <h3>{{ block.settings.title }}</h3>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="recipe-description">{{ block.settings.text }}</div>
          {% endif %}
          <div class="recipes-button-tex">
          {% if block.settings.button_label != blank %}
            <a href="{{ block.settings.button_link }}" class="recipe-btn">{{ block.settings.button_label }}</a>
          {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
</section>

<script>
$(document).ready(function(){
  $('.recipe-slider').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    arrows: true,
    dots: false,
    infinite: true,
    autoplay: false,
    prevArrow: '<button type="button" class="slick-prev custom-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Pro v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/></svg></button>',
    nextArrow: '<button type="button" class="slick-next custom-next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M471.1 297.4C483.6 309.9 483.6 330.2 471.1 342.7L279.1 534.7C266.6 547.2 246.3 547.2 233.8 534.7C221.3 522.2 221.3 501.9 233.8 489.4L403.2 320L233.9 150.6C221.4 138.1 221.4 117.8 233.9 105.3C246.4 92.8 266.7 92.8 279.2 105.3L471.2 297.3z"/></svg></button>',
    responsive: [
      {
        breakpoint: 1100,
        settings: { slidesToShow: 3 }
      },
      {
        breakpoint: 992,
        settings: { slidesToShow: 2 }
      },
      {
        breakpoint: 767,
        settings: { slidesToShow: 1 }
      }
    ]
  });
});

</script>

<style>

    .custom-recipe-slider .recipe-slider button.slick-arrow svg {
    width: 20px;
    height: 24px;
    display: block;
    cursor: pointer;
}

.custom-recipe-slider .recipe-slider button.slick-arrow svg path {
    fill: #F76E2A;
}

.custom-recipe-slider .recipe-slider button.slick-arrow {
    padding: 0;
    border: 1px solid #F76E2A;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    z-index: 1;
    background-color: transparent;
    transform: translateY(-50%);
}

.custom-recipe-slider .recipe-slider button.slick-next.custom-next.slick-arrow {
    right: -3%;
}

.custom-recipe-slider .recipe-slider button.slick-prev.custom-prev.slick-arrow {
    left: -3%;
}

.custom-recipe-slider {
     padding: 69px 0;
    background-color: #F5F5F5;
    margin-top: 100px;
}

</style>

{% schema %}
{
  "name": "Recipe Product",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "recipe_block",
      "name": "Recipe Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recipe Product",
      "category": "Custom"
    }
  ]
}
{% endschema %}
