<div class="cheese-tab-section">
<div class="wrap-page-width">
<div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>

     <!-- TAB BUTTONS -->
    <ul class="tabs">
      {% for block in section.blocks %}
        <li class="tab-btn {% if forloop.first %}active{% endif %}" data-tab="tab-{{ block.id }}">
          {{ block.settings.tab_title }}
        </li>
      {% endfor %}
    </ul>

    <!-- TAB CONTENT -->
    <div class="tabs-content">
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.tab_collection] %}
        <div class="tab-panel {% if forloop.first %}active{% endif %}" id="tab-{{ block.id }}">
          <div class="grid">
            {% for product in collection.products limit:4 %}
              <div class="product-card">
                {% if product.featured_image %}
                  <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.title }}">
                {% elsif block.settings.custom_image != blank %}
                  <img src="{{ block.settings.custom_image | img_url: '600x600' }}" alt="{{ product.title }}">
                {% endif %}
                <div class="p-4 text-center">
                  <h3 class="font-semibold mb-2">{{ product.title }}</h3>
                  <a href="{{ product.url }}">
                    Shop Now
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

</div>
</div>

{% schema %}
{
  "name": "Tabbing Section",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Heading"
    }
  ],
   "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Cheeses"
        },
        {
          "type": "collection",
          "id": "tab_collection",
          "label": "Select Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (if collection image missing)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabbing Section",
      "category": "Collection"
    }
  ]
}
{% endschema %}