<div class="cheese-tab-section">
<div class="wrap-page-width">
<div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>
<div class="main-tabs">
<div class="page-width">
  <ul class="tabs">
    {% for block in section.blocks %}
      <li data-tab="menu{{ forloop.index }}">{{ block.settings.tab }}</li>
    {% endfor %}
  </ul>

  {% for block in section.blocks %}
    <div class="tab-content" id="menu{{ forloop.index }}">
      <div>{{ block.settings.tab-content }}</div>
    </div>
  {% endfor %}
</div>
</div>
<script>
  $(document).ready(function() {
   
    $(".tab-content:first").addClass("active");
    $(".tabs li:first").addClass("active");

    $(".tabs li").click(function() {
      var tabId = $(this).data('tab');
     
      $(".tabs li").removeClass("active");
      $(".tab-content").removeClass("active");
   
      $(this).addClass("active");
      $("#" + tabId).addClass("active");
    });
  });
</script>
<style>
  .tabs {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .tabs li {
      margin-right: 20px;
      cursor: pointer;
      padding: 10px 20px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px 5px 0 0;
    }

    .tabs li.active {
     
      color: white;
    }

    .tab-content {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 0 0 5px 5px;
      display: none;
    }

    .tab-content.active {
      display: block;
    }
</style>


    
    


</div>
</div>




{% schema %}
{
  "name": "Tabbing Section",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Heading"
    }
  ],
   "blocks": [
    {
      "type": "text",
      "name": "Tabs",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "tab",
          "label": "Heading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabbed Collections",
      "category": "Collection"
    }
  ]
}
{% endschema %}