<div class="cheese-tab-section">
  <div class="wrap-page-width">
    <div class="line-title">
      <hr>
      <h2 class="top-title">{{ section.settings.title }}</h2>
      <hr>
    </div>

    <div class="main-tabs">
      {% assign tab_names = section.blocks | map: 'settings' | map: 'tab_group' | uniq %}

      <!-- Tabs -->
      <ul class="tabs">
        {% for t in tab_names %}
          <li data-tab="menu{{ forloop.index }}">{{ t }}</li>
        {% endfor %}
      </ul>

      <!-- Tab Contents -->
      {% for t in tab_names %}
        <div class="tab-content" id="menu{{ forloop.index }}">
  <ul class="collection-list">
    {% for b in section.blocks %}
      {% if b.settings.tab_group == t and b.settings.col %}
        <li>
           <a href="{{ b.settings.col.url }}">
          <div class="tabbing-all-data">
          <div class="img-col">
            {% if b.settings.col.image %}
              <img src="{{ b.settings.col.image | img_url: '400x' }}" alt="{{ b.settings.col.title | escape }}">
            {% endif %}
          </div>
            <h3>{{ b.settings.col.title }}</h3>
            <div class="tabbing-button">
               <a href="{{ b.settings.col.url }}">Shop Now</a>
            </div>
          </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="tabbing-mobile-button">
               <a href="{{ b.settings.all_col }}">Shop Now</a>
            </div>

</div>

      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tabbed Collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "all_col",
      "label": "Collection link"
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection Item",
      "settings": [
        {
          "type": "text",
          "id": "tab_group",
          "label": "Tab Name (group)",
          "info": "Collections with the same Tab Name appear in the same tab."
        },
        {
          "type": "collection",
          "id": "col",
          "label": "Choose Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabbed Collections",
      "category": "Collection"
    }
  ]
}
{% endschema %}

<script>
  $(function(){
    $(".tab-content:first").addClass("active");
    $(".tabs li:first").addClass("active");

    $(".tabs li").on("click", function(){
      var tabId = $(this).data("tab");
      $(".tabs li, .tab-content").removeClass("active");
      $(this).addClass("active");
      $("#" + tabId).addClass("active");
    });
  });
</script>

<style>
 
  .tab-content { display:none; }
  .tab-content.active { display:block; }

</style>
